@model ApAssess2.Models.Product

<form method="post">
    <div class="border p-3">

        <div class="form-group row">
            <h2 class="text-info pl-3">Delete Product</h2>
        </div>

        <div class="row">
            <div class="col-8">


                <div hidden class="form-group row">
                    <div class="col-4">
                        <label asp-for="Id"></label>
                    </div>
                    <div class="col-8">
                            <input type="text" asp-for="Id" class="form-control">
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-8">
                        <input type="text" asp-for="Name" disabled class="form-control">
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Price"></label>
                    </div>
                    <div class="col-8">
                        <input type="text" asp-for="Price" disabled class="form-control">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Description"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="Description" id="summernote" disabled class="form-control"></textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="CategoryId"></label>
                    </div>
                    <div class="col-8">
                        <input type="text" asp-for="Category.Name" disabled class="form-control">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                             <button type="submit" class="btn btn-danger w-100">Delete</button>
                        </div>
                        <div class="col">
                            <a asp-controller="Product" asp-action="Index" class="btn btn-success w-100">Back</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <img src="@Constants.ImagesPath@Model.Image" width="100%" style="border-radius: 5px; border: 1px solid #bbb" alt="" />
            </div>
        </div>

    </div>

</form>

@section Scripts{

    @{ <partial name="_ValidationScriptsPartial" /> }

    <script>
        $('#summernote').summernote({
        placeholder: 'Hello Bootstrap 4',
        tabsize: 2,
        height: 250,
        disable: true
      });
    </script>

}